html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  width: 350px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  body {
    width: 600px;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  body {
    width: 900px;
    margin: 0 auto;
  }
}

main {
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: bottom;
}

#main {
  width: 90%;
  margin-bottom: 8px;
}

nav {
  margin-bottom: 8px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  background: rgba(236, 236, 236, 0.6);
  border: 1px solid rgb(148, 148, 148);
  border-radius: 4px;
  font-size: 12px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

nav li:hover {
  background: #f8f8f8;
}

#play {
  width: 50%;
}

#prev,
#next {
  width: 25%;
}

.thumbnailes {
  display: flex;
  overflow-x: auto;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px; */
}

.thumbnailes img {
  width: 85px;
}

.thumbnailes li {
  cursor: pointer;
  opacity: 0.4;
}

.thumbnailes li:hover,
.thumbnailes li.current {
  opacity: 1;
}

.other {
  margin: 15px;
  background: rgba(236, 236, 236, 0.6);
  border: 1px solid rgb(148, 148, 148);
  border-radius: 4px;
  font-size: 12px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.other span {
  color: rgb(53, 53, 53);
  font-size: 8px;
}
